.container{
    position: "absolute",
      
  }
  .name{
   font-size: 10px;
  
  }
  .topHeader{
    padding: 12px 80px 0px;
  }
  .title{
    margin: 0px;
    font-size: 60px;
    font-weight: 400;
    font-family: Cozey-Regular;
    color: rgb(11, 35, 65);
    padding-bottom: 0px;
  }
  .subText{
    font-family: HafferXH-Regular;
    color: rgb(25, 20, 43);
    font-size: 18px;
    line-height: 26px;
    display: block;
    margin-bottom: 20px!important;;
  }
  .header{
    display: flex;
    flex-direction: row;
    height: 40px;
    background: rgb(236, 235, 231);
    gap: 10px;
    width: fit-content;
    border-radius: 24px;
    overflow: hidden;
    padding: 8px;
  
      border-radius: 24px;
     overflow-x: hidden;
      padding: 8px;
  }
  .category{
    font-family: Cozey-Regular;
    font-size: 48px;
    color: rgb(43, 44, 110);
  }
  .headerText{
    display: flex;
    justify-content: space-evenly;
    font-size: 16 px;
   width: 100%;
  }
  .link{
   text-decoration: none;
      background: transparent;
      font-family: HafferXH-Regular;
      font-size: 15px;
      padding: 6px 16px;
      color: rgb(11, 35, 65);
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 16px;
      overflow: hidden;
      transition: all 0.2s ease-in-out 0s;
      cursor: pointer;
      white-space: nowrap;
  }
  .link .active {
    background-color: rgb(11, 35, 65);
    color: rgb(255, 255, 255);
  }
  .productContainer{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
      padding: 0 20px;
      margin: 0 auto;
     max-width: 1440px;
  }
  
  .productImage{
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  border-radius: 30px;
  }
  .image{
    width: 100%;
    height: 100%;
  }
  .container{
    position: absolute;
    bottom: 12px;
    z-index: 999;
    right: 12px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 6px 6px 10px;
    gap: 8px;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(208, 206, 196);
    border-radius: 100px;
    cursor: pointer;
  
  }
  .colorCircle{
    width: 20px;
    height: 20px;
   border-radius: 50%;
   margin-right: 4px;
  }
  .name{
    font-family: HafferXH-SemiBold;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    text-align: right;
    color: rgb(79, 96, 118);
  }
  .productName{
    font-weight: 700;
    display: block;
    font-size: 16px;
    line-height: 19px;
    font-family: HafferXH-SemiBold;
    color: rgb(11, 35, 65);
    cursor: pointer;
  }
.priceContainer{
  height: 18px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}
.productDiscount{
    font-family: HafferXH-Bold;
    font-size: 14px;
    line-height: 17.56px;
    color: rgb(179, 92, 30);
    white-space: nowrap;
}
.productPrice{
    font-family: HafferXH-Regular;
    font-size: 14px;
    line-height: 17.56px;
    color: rgb(83, 84, 138);
    white-space: nowrap;
}
.sticky {
  position: fixed;
    width: 100%;
    top: 0px;
    padding: 27px 0px;
    background: rgb(247, 248, 246);
    transition: all 0.15s ease-in-out -3s;
    z-index: 9999999;
}
.topHeader.sticky {
  padding: 0; /* Remove padding when sticky */
}
.link.active {
    background-color: rgb(11, 35, 65);
    color: rgb(255, 255, 255);
}
.productCustomizer{
    position: relative;
    font-family: HafferXH-Bold;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    cursor: pointer;
    font-weight: 700;
color: rgb(105, 162, 255);
}
.imageTag{
    position: absolute;
    top: 16px;
    left: 16px;
}
.outdoor-tag{
    display: inline-flex;
    padding: 8px 12px;
    background: rgb(179, 164, 155);
    border-radius: 16px;
    max-width: fit-content;
}
.tag-txt{
    color: rgb(255, 255, 255);
    font-family: HafferXH-Regular;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

  /*media query*/
  @media screen and (min-width: 1200px) {
    .header {
      display: flex;
      
      padding: 0px 80px;
      gap: 48px;
    }
  }
  @media screen and (max-width: 750px) {
    .header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
      padding: 0px 80px;
      gap: 48px;
    }
    .colorCircle{
width: 12px;
height: 12px;
    }
    .productContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .productImage{
        object-fit: contain;
        border-radius: 12px;
    }
    .topHeader {
        padding: 20px;
      }
      .title{
        font-size: 30px;
      }
      .category {
        font-size: 30px;
      }
  }
  
  
